* {
    font-family: sans-serif;
}

div#results .flickr-image-wrapper {
  display: inline-block;
}

#search-wrapper {
  background: #eaeaea; /* Old browsers */
  background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0));
  height: 40px;
}

#search-wrapper > * {
  margin-left: 20px;
  display:inline-block;
}

#search-wrapper #search-string {
  margin-top: 9px;
}

#search-wrapper #settings-wrapper {
  margin-top: 4px;
}

#settings-wrapper button {
  font-size: 12px;
  height:25px;
}

#search-wrapper #search-busy {
  margin: 0;
  position: relative;
  right: 38px;
  top: 3px;
}

#data-dump {
  color: #666;
}

/* Results */

div.flickr-image-wrapper {
  margin: 8px;
}

div.flickr-image-wrapper img {
  /* width: 100%; */
}

div.flickr-image-wrapper .attribution {
}

div.flickr-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

div.flickr-image-wrapper > .attribution {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  margin:0;
  padding: 4px;
}

div.flickr-image-wrapper .attribution {
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  font-weight: 700;
}

div.flickr-image-wrapper:hover {
}

div.flickr-image-wrapper:hover .attribution {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.5);
  font-size: 10px;
  font-weight: 700;
}

div.flickr-image-wrapper .attribution .author,
div.flickr-image-wrapper .attribution .license {
  display: none;
}

.attribution .title,
.attribution .author,
.attribution .license,
.attribution .license img {
  margin: 5px 2px;
}

.attribution .title,
div.flickr-image-wrapper:hover .attribution .author,
div.flickr-image-wrapper:hover .attribution .license {
  display: block;
}

.attribution .license {
  float: right;
  margin: 6px 10px;
}
.attribution .icon {
  display:inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.attribution .icon.license-BY {
  background-image: url('icon/BY.png');
}

.attribution .icon.license-NC {
  background-image: url('icon/NC.png');
}

.attribution .icon.license-SA {
  background-image: url('icon/SA.png');
}

.attribution .icon.license-ND {
  background-image: url('icon/ND.png');
}

.attribution .icon.license-PD {
  background-image: url('icon/PD.png');
}

.attribution .icon.license-US-gov {
  background-image: url('icon/US-gov.png');
}

.attribution a {
  color: #0d59e4;
}
